@model FrereslaAplicacionWeb.clientes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>clientes</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idCliente)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idCliente)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cedula)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cedula)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Direccion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Direccion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.telefono1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.telefono1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.telefono2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.telefono2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Observaciones)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Observaciones)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Habilitado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Habilitado)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaSistema)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaSistema)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
